
  $secondaryFont: 'Cinzel', serif;
  $elegantFont3: 'Great Vibes', cursive;
  $paragraphFont: 'Lato', sans-serif;
  $primaryFont: 'Montserrat', sans-serif;
  $thirdFont: 'Oswald', sans-serif;
  $elegant-font-2: 'Parisienne', cursive;
  $roboto: 'Roboto', sans-serif;
  $elegantFont: 'Sacramento', cursive;
 $primary-color: white;
 $secondary-color: #debfbd;
 $third-color: #ab7b7a;
 $main-banner-color: #202020;
 $forth-color: #eedede;
